body {
	background-color: #00B436;
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.containerBody {
	background-color: white;
	margin: 2%;
	display: flex;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-right {
	padding: 2%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hospitalImage {
	max-width: 100%;
	width: 80%;
}

.container-left {
	background-color: #FBFBFB;
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
}

.title{
	margin-top: 5%;
	font: bold;
	font-family: poppins;
	color: #00B436;
	font-size: 180%;
	display: flex;
}

.introduction{
	font-family: poppins;
	font-size: 120%;
	color: #25373b;
	display: flex;
}

.formDiv{
	margin-top: 8%;
	display:flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
}

input{
	width: 130%;
	font-family: poppins;
	font-size: 100%;
	padding: 19px;
	border: none;
	border-radius: 5px;
	background-color: #EBEBEB;
	margin-bottom: 15px;
}

.buttonLogin{
	background-color: #00B436;
	text-align: center;
	border: none;
	border: 15px;
	width: 60%;
	padding: 15px;
	color: white;
	font-size: 100%;
	font-family: poppins;
	border-radius: 10px;
	cursor: pointer;
}

.errorDiv{
	padding: 15px;
	color: red;
	font-family: poppins;
	font-size: 90%;
}