body {
    background-color: #00B436;
    margin: 0;
    height: 100vh;
}

.container {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: white;
    border-radius: 10px;
    border: none;
    height: min-content;
    padding: 20px;
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.back{
    background-color: white;
    color: #59945c;
    font-family: poppins;
    border: none;
    width: 6%;
    font-size: medium;
    padding: 1%;
    border-radius: 10px;
    position: relative;
    margin: 1%;
    cursor: pointer;
}

.submit{
    font-family: poppins;
    font-size: medium;
    color: white;
    background-color: #00B436;
    border: none;
    border-radius: 3px;
    width: 25%;
    text-align: center;
    padding: 1%;
    margin-top: 5%;
    cursor: pointer;
}

h3{
    color: #00B436;
    font-family: poppins;
    font-weight: 700;
    margin: 2%;
    font-size: xx-large;
}

input{
    width: 45%;
    padding: 2%;
    font-family: poppins;
    margin: 1.8%;
    border-radius: 5px;
    border-style: groove;
    text-align: justify;
    font-size: medium;
}

span{
    color: #00B436;
    font-family: poppins;
    margin-top: 1%;
    font-size: larger;
}