body {
    background-color: #00B436;
    margin: 0;
    height: 100vh;
}

.container {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgDiv {
    display: flex;
    align-items: center;
}

img {
    border-radius: 10px 0 0 10px;
    height: 69vh;
}

.formDiv {
    background-color: white;
    border-radius: 0 10px 10px 0;
    border: none;
    height: 489px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 22%;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h2{
    color: #00B436;
    font-family: poppins;
    font-weight: 700;
    margin: 2%;
}

.title{
        color: #00B436;
        font-family: poppins;
        margin-top: 1%;
        font-size: larger;
}

.inputCpf, .inputSelect{
    width: 65%;
    padding: 2%;
    font-family: poppins;
    margin: 1.8%;
    border-radius: 5px;
    border-style: groove;
    text-align: justify;
    font-size: medium;
}

.emerging {
    background-color: red;
    color: white;
}

.urgent {
    background-color: orange;
    color: white;
}

.notVeryUrgent {
    background-color: green;
    color: white;
}

.notUrgent {
    background-color: blue;
    color: white;
}

.priority{
    font-family: poppins;
    font-size: larger;
    color: blue;
    margin-left: 1%;
    padding: 1%;
}

.box{
    width: 30px;
    height: 15px;
}

.submit{
    font-family: poppins;
    font-size: medium;
    color: white;
    background-color: #00B436;
    border: none;
    border-radius: 3px;
    width: 55%;
    text-align: center;
    padding: 1%;
    margin-top: 2%;
    margin-left: 20%;
    cursor: pointer;
}

.back{
    background-color: white;
    color: #59945c;
    font-family: poppins;
    border: none;
    width: 6%;
    font-size: medium;
    padding: 1%;
    border-radius: 10px;
    position: relative;
    margin: 1%;
    cursor: pointer;
}